<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Charts.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.CodeParser" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Dashboard.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Data" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Data.Desktop" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.DataAccess" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.DataAccess.UI" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.DataVisualization.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Diagram.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Gauges.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Images" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Map.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Office.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Pdf.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Pdf.Drawing" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.PivotGrid.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Printing.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Reporting.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Export" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Sparkline.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.TreeMap" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.TreeMap.Core" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Utils" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Utils.UI" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.Charts" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.Dashboard" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.Diagram" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.Gantt" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.Gauges" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.Grid" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.Map" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.Navigation" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.PivotGrid" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.Printing" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.RichEdit" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.TreeList" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.TreeMap" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Win.VerticalGrid" version="21.1.5" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="21.1.5" targetFramework="net452" />
  <package id="Microsoft.Web.WebView2" version="1.0.902.49" targetFramework="net452" />
</packages>