<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Charts.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Data" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="21.1.5" targetFramework="net472" />
</packages>